body {
    color: pink;
    background: sienna;
}


/*
 * Background color of links by hover
 */


/*
 * Background color of links, if user move between links use tab key
 * https://css-tricks.com/almanac/selectors/f/focus/
 */


/*
 * Multiline code all black
 */


/*
 * Inline code
 */


/* Images shadows */


/* Custom selection, see http://ru.stackoverflow.com/a/595809/199934
   ========================================================================== */

::-moz-selection {
    color: lightcoral;
    background: moccasin;
}

::selection {
    color: lightcoral;
    background: rgba(255, 228, 181, .99);
}

::selection:window-inactive {
    color: lightcoral;
    background: rgba(255, 228, 181, .99);
}

::-moz-selection {
    color: lightcoral;
    background: rgba(255, 228, 181, .99);
}


/* Tooltipster theme
   ========================================================================== */

.tooltipster-punk-purple .tooltipster-box {
    border: none;
    border-bottom: 3px solid orange;
    border-radius: 5px;
    background: purple;
}

.tooltipster-punk-aquamarine .tooltipster-box {
    border: none;
    border-bottom: 3px solid hotpink;
    border-radius: 5px;
    background: forestgreen;
}


/* ==========================================================================
   Sasha classes
   ========================================================================== */


/*
 * Epigraph
 */


/*
 * Overwrite color child element, !important doesn't work, * http://stackoverflow.com/a/21297248/5951529
 */